<div id="<%= dom_id rc_car %>">
  <p>
    <strong>Name:</strong>
    <%= rc_car.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rc_car.description %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= rc_car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= rc_car.model %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= rc_car.category %>
  </p>

<% if rc_car.car_image.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag rc_car.car_image.variant(resize_to_limit: [200, 200]) %>
  </p>
<% end %>
</div>
