<p style="color: green"><%= notice %></p>

<h1>Whats in the garage?</h1>
<div id="rc_cars">
  <% @rc_cars.each do |rc_car| %>
    <%= render rc_car %>
    <p>
      <%= link_to "Show this rc car", rc_car %>
    </p>
  <% end %>
</div>
<%= button_to "Log Out", destroy_user_session_path, :method => :delete , :data => { :no_turbolink => true } %>
<%= button_to "New rc car", new_rc_car_path %>
